* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

h1,
h2 {
    font-size: 22px;
    font-weight: 800;
    color: hsl(48, 80%, 22%);

}
h1  {
    background-color: hsl(36, 100%, 90%);
    
}

h2 {
    font-size: 18px;
    text-align: left;
}

li {
    font-size: 12px;
    list-style: none;
    display: block;
    padding: 6px;
    margin: 3px 0;
    background-color: hsl(36, 100%, 90%);
    
}

.index  {
    width: 300px;
    margin: 12px auto;
    display: block;
    text-align: center;
}
